/* ADD GOOGLE FONTS */
@font-face {
    font-family: "IBMPlexSans";
    src: url(./assets/font/IBMPlexSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSans";
    src: url(./assets/font/IBMPlexSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

/* COMMON SETTINGS */
body {
    background-color: lightgray;
    font-family: "IBMPlexSans", sans-serif;
    font-size: 10px;
    color: #222222;
}

a {
    text-decoration: none;
}
  
ul,
ol,
li {
    list-style: none;
}
  
html {
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 615px;
    margin: 0px auto;
    background-color: #fff;
}

.main {
    flex: 1 1 auto;
}
